/*@mixin vertical-align() {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}*/
/*.border-box {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}*/
img.greeting{
    width: 100%;
    height: 100%;
}
calendar {
    float:left;
    display:block;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    background:white;
    width:300px;
    border:solid 1px black;
    margin-bottom:10px;
}

.header{
    float:left;
    width:100%;
    background: grey;
    height: 40px;
    color: white;
}

.header > span{
    float:left;
    width:100%;
    font-weight:bold;
    text-transform:uppercase;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    text-align:center;
    color:inherit;
}

.header > i {
    float:left;
    width:40px;
    font-size:1.125em;
    font-weight:bold;
    position:relative;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding:0 20px;
    cursor:pointer;
}
.header > i.left{
    text-align: left;
}

.header > i.right{
    text-align: right;
    margin-left:-40px;

}

div.week {
    float:left;
    width:100%;
    border-top:solid 1px black;
}

span.day {
    float:left;
    width:14%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    border-left:solid 1px black;
}

span.day.selected {
    background-color: grey;
}

#info {
    float:right;
    text-align: right;
}