<div>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img src="http://vignette3.wikia.nocookie.net/family-guy-the-quest-for-stuff/images/5/5b/Fat-jogger-female.png/revision/latest?cb=20150123162517" height="60" width="80"></a>
    </div>
  </nav>

  <div class='container'>
    <div class="card">
      <div class="card-content">
        <span class="card-title">Profile</span>
        <form class='col s12'>
          <div class='row'>
            <div class="input-field col s8">
              <input id='weight' require type="text" class='validate' ng-model='weight'>
        <span class="card-title">Profile Maker</span>
        <form class='col s12'>
          <div class='row'>
            <div class="input-field col s8">
              <input id='weight' require type="text" class='validate' ng-model='weight'>
              <label class='active' for='weight'>Weight</label>
            </div>
          </div>
          <div class='row'>
            <div class="input-field col s8">
              <input id='height' require type="text" class='validate' ng-model='height'>
              <label class='active' for='height'>Height</label>
            </div>
          </div>
          <div class='row'>
            <div class="input-field col s6">
              <input id='age' require type="text" class='validate' ng-model='age'>
              <label class='active' for='age'>Age</label>
            </div>
          </div>
        </form>
      </div>
      <a class="btn-floating halfway-fab waves-effect waves-light red" ng-click='goLogin()'><i class="material-icons">call_made</i></a>
    </div>  
  </div>
  
</div>